div#content{
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: seashell;
}

header{
    background-color: #152238;
}

nav a:hover{
    background-color: #152238;
    color: #fefae0;
}

nav a {
    text-align: center;
    min-width: 120px;
    text-decoration: none;
    color: white    
}

.home-title{
    background-color: seashell;
    color: black;
}

h4{
    background-color: seashell;
    color: black;
}

.book, .join{
    text-decoration: none;
    background-color: #fefae0;
    color: #152238;
}

.book:hover, .join:hover{
    background-color: #ccc;
    color: white
}

.msg{
    background-color: #152238;
}

.msg h2{
    background-color: #152238;
    color: white;
}

.msg p{
    background-color: #152238;
    color: white;
}

.icon{
    width: 80px;
}

.logo{
    width: 80px;
}

#hero-img{
    width:100%;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

footer{
    background-color: grey;
}


footer h3{
    color:white;

}

footer a{
    text-decoration: none;
    color:white

}

footer a:hover{
    color:#152238

}

footer h3 a:hover{
    text-decoration: underline;
}
.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #cb9c7d;
}

