@import url('https://fonts.googleapis.com/css?family=Helvetica|Lato');
body{
    position: relative;
    color: #484848;
    font-family: "Helvetica",Lato;
    font-size: 25px;
    line-height: 31px;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #fff;
    font-style: normal;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}

.home-grid{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
}
    
    
    
    img {
    max-width: 100%;
    }

#content{
    position: relative;
    
}

div#content{
    max-width: 1600px;
    margin: 0 auto;
    
}

.introduction h2{
    align-self: center;
}


header{
    background-color: black;
    font-family: 'Helvetica';
    display:grid;
    grid-template-columns: 100px auto;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 10px 0;
    align-content: center;
    align-items: center;
    padding: 10px;
    transition: all 0.4s ease 0s;
}

.logo{
    vertical-align: middle;
    display: inline-block;
    height:auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.home-title{
    color: #152238;
    font-size: 60px;
    margin-top: 50px; 
    line-height: 40px; 
    font-weight: 600;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.start{
    text-decoration: none;
    background-color: #484848;
    color: seashell;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: 2px solid seashell;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    transition: all .3s;
}
.start:hover{
    background-color: white;
    color: #484848;
    border: 2px solid #484848
}

#contribution-msg{
    grid-column: 2 /3;
    grid-row: 2/2;
    margin-top: 70px
}

#contribution-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.index-grid{
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    justify-content: center;
}

#head-img{
    width: 100%;
    height: 600px;
}


nav{
    display: flex;
    justify-content: space-around;
}
nav a:hover{
    background-color: black;
    color: #fefae0;
}
nav a {
    text-align: center;
    min-width: 120px;
    text-decoration: none;
    color: white;
    padding: 35px;
}
.introduction{
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 70px 0;
    position: relative;
    display: block;
    align-content: center;
    
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    overflow-wrap: break-word
    

}


.introduction p{
    margin-bottom: 8.5px;
}

h1{
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 50px;
    color: #152238;
}
h2{
    line-height: 50px;
    color:#152238;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin: 0;
}
.more h2{
    margin-top: 50px
}
.button-box{
    text-align: center;
}
.learn{
    display: inline-block;
    text-decoration: none;
    background-color: #484848;
    color: seashell;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 10px;
    border: 2px solid seashell;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    transition: all .3s;

}
.learn:hover{
    background-color: white;
    color: #484848;
    border: 2px solid #484848
}
h4{
    color: #152238;
    font-size: 22px;
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center
}

.mission img, .vision img, .intro img{
    border-radius: 10px;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    box-shadow: none;
    box-sizing: border-box;
    width: 460px;
    aspect-ratio: auto 460 / 600;
    margin-bottom: 50px
}
p{
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-family: Helvetica, Lato;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    overflow-wrap: break-word

}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    line-height: 28px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
footer{
    background-color: #36454f;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h2{
    color:white;
    font-size: 20px;

}

footer a{
    text-decoration: none;
    color:white;

}

footer a:hover{
    color:#152238;

}

footer h2 a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}
main section img{
    box-sizing: border-box;
}
main section{
    text-align: center
}
.crisis-card, .save-card, .dream-card{
    margin-top: 200px ;
    position: relative;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    padding: 0 20px;
    background: #fff;;
    box-shadow: 0 5px 20px -5px rgb(0 0 0 / 15%)!important;
    border-radius: 10px;
    margin:20px;
    margin-bottom: 100px

}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.card-img{
    border: 5px solid silver;
    width: 400px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px silver;
    height: 200px;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    display: inline-block;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em .5em;
    font-size: 1.1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
   By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    width: fit-content;
    padding: 1em;
    border-radius: 25px;
    background-color: #04AA6D;
    color: rgb(27, 1, 1);
    font-size: 1.2rem;
    border:none;
}

button {
   
    grid-column: 2;
}

#feedback {
    background-color: #3fdba2;
    color:#000;
    font-size: 1.3em;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
    
}

form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  

